:root {
  --success: #619237;
  --warning: #e0450c;
  --dark: #202020;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.list-unstyled {
  list-style: none;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.column-gap-3 {
  column-gap: 30px;
}
.text-center {
  text-align: center;
}
.text-success {
  color: var(--success);
}
.text-decoration-none {
  text-decoration: none;
}
.text-uppercase {
  text-transform: uppercase;
}
.p-2 {
  padding: 20px;
}
.p-5 {
  padding: 50px;
}
.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-10 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.ps-5 {
  padding-left: 50px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.d-inline-block {
  display: inline-block;
}
.bg-warning {
  background-color: var(--warning);
}
.bg-white {
  background-color: white;
}
.bg-success {
  background-color: var(--success);
}
.text-white {
  color: white;
}
.text-warning {
  color: var(--warning);
}
.rounded-1 {
  border-radius: 10px;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.top-1 {
  top: 10px;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.border {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.border-0 {
  border: none;
}
.fs-2 {
  font-size: 20px;
}
.fs-3 {
  font-size: 30px;
}
.fs-4 {
  font-size: 40px;
}
.fs-5 {
  font-size: 50px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-5 {
  margin-bottom: 50px;
}
.form-control {
  padding: 10px 15px;
}
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border-color: transparent;
}
.btn-dark {
  background-color: var(--dark);
  color: rgb(255, 255, 255);
}
.btn-dark:hover {
  background-color: white;
  color: var(--dark);
}
.btn-success {
  background-color: var(--success);
  color:white;
}
.fw-light {
  font-weight: 300;
}
.fw-normal {
  font-weight: 400;
}
.fw-bold {
  font-weight: 700;
}
.lh-25 {
  line-height: 22.5px;
}
.sticky-top {
  position: sticky;
  top: 0;
}
.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.img-fluid {
  max-width: 100%;
}
.ratio-3x2 {
  aspect-ratio: 3/2;
}
.z-2 {
  z-index: 2;
}