a {
  text-decoration: none;
}
header a {
  border-top: 4px solid transparent;
  color: var(--dark);
}
header a:hover {
  border-top-color: var(--warning);
}
.hero {
  background-image: url("./../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero form {
  width: 375px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.servicos .d-flex > div {
  width: 33.33%;
}
.servicos .capa {
  aspect-ratio: 3/2;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.servicos a span:first-child {
  display: inline-block;
  padding: 7.5px;
  background-color: var(--success);
  color: white;
}
.servicos a:hover span:first-child {
  border-radius: 50%;
  background-color: var(--warning);
}
.servicos a span:last-child {
  display: inline-block;
  margin-left: 15px;
  color: var(--warning);
}
.servicos a:hover span:last-child {
  color: var(--success);
}
.sobre .item {
  padding: 20px 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.produtos img {
  max-height: 170px;
  max-width: 170px;
}
.numeros i {
  color: rgba(255, 255, 255, 0.5);
}
.numeros .container > div {
  width: 25%;
}
.numeros .container > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
.depoimentos iframe {
  width: 33.33%;
}
.blog p {
  line-height: 22.5px;
}
.blog .capa {
  aspect-ratio: 3/2;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  background-position: center center;
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.blog .container > div {
  width: 33.33%;
}
.dados .container > div {
  width: 33.33%;
}
.dados i {
  color: rgba(255, 255, 255, 0.5);
}
.marcas .logo {
  aspect-ratio: 2/1.25;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.marcas .container .d-flex:first-child {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.marcas .container .d-flex .logo:not(:last-child) {
  border-right: 1px solid rgb(221, 221, 221);
}
.galeria .imagem {
  aspect-ratio: 3/2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.planos td {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.planos table {
  border-collapse: collapse;
}
.planos table tr:first-child td:first-child {
  border-top: none;
  border-left: none;
}
.planos table tr:last-child td:first-child {
  border-bottom: none;
  border-left: none;
}
.planos table tr:first-child td:nth-child(3) {
  background-color: var(--warning);
  color: rgb(255, 255, 255);
}
.planos table tr:nth-child(2) td:nth-child(n+2) {
  background-color: var(--success);
  color: rgb(255, 255, 255);
}
.planos table tr:nth-child(odd) td {
  background-color: rgba(0, 0, 0, 0.05);
}
.planos table tr:first-child td {
  background-color: white;
}